@use "./vars.scss";

// ------------------------------Reset Begin--------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: currentColor;
}

html,
body {
  padding: 0;
  background: transparent;
}

// ------------------------------Reset End--------------------------

// ------------------------------Other Global Styles--------------------------
.drag {
  --wails-draggable: drag;
  -webkit-app-region: drag;
  user-select: none;
  -webkit-user-select: none;
}

.nodrag {
  --wails-draggable: no-drag;
  -webkit-app-region: none;
}

.spacer {
  flex: 1;
}
.drop-target {
  --wails-drop-target: drop;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
  display: none;
}
